@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-size: 10px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-size: 21px;
  line-height: 24px;
  font-weight: 900;
  font-family: sans-serif;
  text-align: center;
  background-color: #111;
  color: #fff;
}
header {
  display: flex;
  justify-content:space-around;
  text-align:center ;
  width:auto;
  font-size: 95%;
  background-color: rgb(38, 28, 48);
  box-shadow: 0 0 10px rgba(238, 232, 170, 0.9);
  text-shadow: -1px -1px 0 #ee00dc, 1px -1px 0 #00997d, -1px -1px 0 #00bb76, -1px -2px 0 #00bb76;
}
/* header:hover */

video {
  pointer-events: none;
}

.header1{
  width: 200px;
  height: 140px;
  border-radius: 40px;
  background-color: hsla(0, 0%, 0%, 0.855);
  /*background-image: url(/pattern2.jpg);
  background-size: contain;
  background-position: center;*/
  background-blend-mode: luminosity;
}

h1 {
font-size: 24px;
line-height:38px;
height: 88px;
width: 128px;
border-radius: 50%; 
text-align: center;
color: rgb(36, 27, 65);
border-color: rgb(38, 28, 48);
text-shadow: -1px 1px 0 #ee00dc, 2px -1px 0 #00997d, -1px 1px 0 #00bb76, -1px -1px 0 #00bb76;
}

h1:hover {
text-shadow: 0 0 10px rgba(238, 232, 170, 0.7);


}


 h2{
  text-align: center;
  font-size: 40px;
  height: 65px; 
  line-height:80px ;
  background-image: linear-gradient(to top, rgb(109, 80, 138), rgba(205, 170, 238, 0.702 ));
  color: transparent;
  background-clip: text;
  margin-bottom: 10px;
 }

 
 h3{
  margin-bottom: 4px;
  line-height: 3px;
  text-align: center;
  font-size: 12px;
  height: 15px;
  /*background: none; */
 }

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
  padding: 1rem;
  gap: 2rem;
}
.art-card {
  
  background-color: #222;
  border-radius: 10px;
  padding: 1rem;
  height: 480px;
  width: 360px;
  margin-top: 1px;
  overflow-x:hidden;
  box-shadow: 0 0 10px rgba(238, 232, 170, 0.7);
  object-fit:scale-down;
  
}
.art-card:hover {
  transform: scale(1.05);
  background-color: #333;
  box-shadow: 0 0 10px rgba(205, 170, 238, 0.702);
  transition: transform .4s, background-color 0.2s;

}

.art-card h3 {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.111em;
  font-weight: 900;
  font-style: normal;
  margin: 0.5rem 0 0.25rem;
  margin-top: -1px;
  margin-bottom: 5px;
}

.art-card img {
  margin: auto;
  width: auto;
  height: 300px;
  object-fit: scale-down;
  margin-top: 18px;
  margin-bottom: 10px;
}

.art-card img:hover {
   transform: scale(1.05);
}
.art-card p {
  line-height:25px;
  letter-spacing: -0.052em;
  font-weight: 500;
  font-size: 13px;
  margin: 0.25rem 0;
  margin-bottom: auto;
}
.art-card button {
  display: inline-block;
  height: 30px;
  width: 80px;
  font-size: 45%;
  line-height: 20px;
  padding: 0.5rem 1rem;
  background-color: #a474d4da;
  color: #84d474da;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 6px;
}

.art-card button:hover {
  color:#261c30;;
  background-color: #84d474da;
  box-shadow: 0 0 10px rgba(238, 232, 170, 0.7);
}
.art-card button:active {
  background-color: rgb(215, 236, 215);
  box-shadow: 0 0 10px rgba(238, 232, 170, 0.7);
}
.thank-you {
  display: none;
  color: #0f0;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.2rem;
}
.price {
  color: #0f0;
}
.art-cart {
  line-height: 40px;
  margin-top: 4px;

}
.art-cart img {
 
  margin-top: 4px;
  margin-bottom: 6px;

}

.art-cart button {
  display: inline-block;
  height: 30px;
  width: 80px;
  font-size: 45%;
  line-height: 20px;
  padding: 0.5rem 1rem;
  background-color: #a474d4da;
  color: #84d474da;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 6px;
  margin-bottom: 20px;
}


.art-cart button:hover {
  color:#261c30;;
  background-color: #84d474da;
  box-shadow: 0 0 10px rgba(238, 232, 170, 0.7);
}

.art-cart button:active {
  background-color: rgb(215, 236, 215);
  box-shadow: 0 0 10px rgba(238, 232, 170, 0.7);
}

.submissionForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #222;
    border-radius: 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    transition: transform 0.2s;
    width:500px;
    height: 450px;
    margin: auto;
    margin-top: 30px;
}


 base {
  *, ::after, ::before, ::backdrop, ::file-selector-button {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    border: 0 solid; 
  }
  button, input, select, optgroup, textarea, ::file-selector-button {
    border-radius: 0; 
    background-color: transparent; 
    color: rgba(105, 206, 255, 0.439);
    border-radius: 12px;
  }
}

input {
    width: 60%;
    height: 35px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}
input[type="radio"],
input[type="checkbox"] {
    display: inline;
    width: 10%;
}
select {
   
    width: 90%;
    margin-bottom: 5px;
    padding: 6px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    font-size: 14px;
    display: block;
    width: 50%;
    margin-top:1px;
    margin-bottom: 1px;
    text-align: left;
    color: #555;
    font-weight: bold;
}


textarea {
    resize: none;
    padding: 6px;
    width: 98%;
    min-height: 30px;
    max-height: 80px;
    margin-bottom: 10px;
}


footer {
  display: flex;
  justify-content:space-around;
  text-align:center ;
  font-size: 95%;
  background-color: rgb(38, 28, 48);
  box-shadow: 0 0 10px rgba(238, 232, 170, 0.9);
  text-shadow: -1px -1px 0 #ee00dc, 1px -1px 0 #00997d, -1px -1px 0 #00bb76, -1px -2px 0 #00bb76;
}